:root {
    --primary-font: 'Roboto Condensed', sans-serif;
    --max-width: 1400px;
    --color-dark: #333;
    --color-light: #777;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
    
    
}

html,
body {
    font-family: var(--primary-font);
    line-height: 1.2;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

img {
    width: 100%;
}

p {
    margin: 1rem 0;
}



/* Utility Classes */
.container {
    max-width: var(--max-width);
    margin: auto;
    
}

.nrw {
    padding: 0 4rem 0 4rem;    
}

.current {
    background: var(--color-light);

}

.sticky-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.btn {
    text-decoration: none;
    border: none;
    color: #222;
    padding: 1rem 2rem;    
    display: inline-block;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}

.btn-green {
    background: rgba(6, 54, 27, 0.9);
    color: #f3f3f3;
}
.btn-green:hover {
    background: rgba(20, 100, 55, 0.9);
    
}
.btn-blue {
    background: rgba(10, 22, 61, 0.9);
    color: #f3f3f3;
}
.btn-blue:hover {
    background: rgba(39, 66, 156, 0.9);
    
}
.btn-red {
    background: rgba(71, 5, 5, 0.9);
    color: #f3f3f3;
}
.btn-red:hover {
    background: rgba(139, 21, 21, 0.9);    
}

.btn-light {
    background: rgb(216, 216, 216);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}
.btn-light:hover {
    background: #f3f3f3;

}

.paral {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.handwrite {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3rem;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #777; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 200px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}




/* Navbar */
.navbar  {
    background: #777;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    
}
.main-nav li {
    text-align: center;
}

.navbar div {
    padding: 1.5rem;
}
.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.main-nav {    
    overflow: hidden;
    list-style-type: none;
    height: 0px;
    -webkit-transition: height 0.5s ease-in-out;
           -moz-transition: height 0.5s ease-in-out;
            -ms-transition: height 0.5s ease-in-out;
             -o-transition: height 0.5s ease-in-out;
                transition: height 0.5s ease-in-out;
    
}

.active {
    height: 200px;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
     -ms-transition: height 0.5s ease-in-out;
      -o-transition: height 0.5s ease-in-out;
         transition: height 0.5s ease-in-out;
  }
.navbar .btn {
    background: #f3f3f3;
}


  /* ***************** */
  .main-nav li {
      padding: 1rem 4rem;
      
      
      
  }
  .main-nav li a {

    text-decoration: none;
       
    color: #f3f3f3;    
    transition: background 0.4s ease-in-out;
    text-align: center;
    }



    /* Navbar Desktop */

@media screen and (min-width: 768px) {
    .navbar {
        padding-bottom: 0;
    }
    .navbar-toggle {
        display: none;
     }
     .navbar div {
         display: none;
     }
     .navbar {
         height: 80px;
         overflow: hidden
     }
     .main-nav {
         height: 100%;
         display: flex;
         align-items: center;
         text-align: center;
         justify-content: center;
     }
     .main-nav li {
         overflow: hidden;
         padding: 1.5rem 1rem;
         

    }
    .main-nav {    
        overflow: hidden;
        list-style-type: none;
        height: 100%;
        -webkit-transition: none;
               -moz-transition: none;
                -ms-transition: none;
                 -o-transition: none;
                    transition: none;
        
    }    





} 

  

/* #navbar {
    background: var(--color-dark);
    
    

}

nav-container {
    height: 10vh;
}

nav-container .toggle-container {
    height: 100%;
}

#navbar .toggle {
    display: none;
}

#navbar .container .main-navbar {
    
    padding: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#navbar .container .main-navbar a {
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0 1rem;
    color: #f3f3f3;
    border: 1px solid var(--color-light);
    transition: background 0.4s ease-in-out;
    text-align: center;
    

}

#navbar .container .main-navbar a:hover {
    background: var(--color-light);
} */


/* Showcase */

#showcase {
    color: #fff;
    background: #333;
    padding: 2rem;
    position: relative;

}

#showcase:before {
    content: '';    
    background: url('../img/3.jpeg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;

    /* Parallax Scrolling */
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;


    animation: Pulsate 6s ease-in-out infinite;


    }

    @keyframes Pulsate {
        from { opacity: 0.5; }
        50% { opacity: 0.2; }
        to { opacity: 0.5; }
      }


#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

#showcase .showcase-content {
    z-index: 2;
}




/* Grid Articles */

.card {
    margin-top: 5rem;
    background: #f3f3f3;
}

.card img {
    
    
    overflow: hidden;
}

.card div {
    padding: 2rem;
    text-align: center;
}

.card div h3,
.card div p {
    text-align: justify;
}

.card div a {
    margin-top: 2rem;
}



#about .container .articles-container {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    

}

/* Blog - Big Posts */
#blog-two .container .articles-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

}

#blog-two .articles-container .card:nth-child(2) p:nth-child(3) {
    padding-bottom: 0;
}

#blog-two .articles-container .card:nth-child(2) a {
    float: right;
    margin-bottom: 2rem;
    margin-top: 0.2rem;
}

/* Image-Break Section */


#image-break {
    margin: 2rem 0;
    color: #fff;
    background: #111;
    padding: 2rem;
    position: relative;
    

}

#image-break:before {
    content: '';    
    background: url('../img/8.jpeg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;

    /* Parallax Scrolling */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

#image-break .container-break {
    display: flex;
    flex-direction: column;
    height: 39vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    
}

#image-break .break-content {
    max-width: 800px;
    z-index: 2;
}


/* Bottom Grid */

#grid-bot .container .articles-container {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: auto;

}

#grid-bot .card {
    margin-top: 1rem;
}



/* Big Blogpost */

.card-big img {
    width: 100%;
    height: 400px;
    max-height: auto;
}


#big-blogpost img {
   object-fit: cover;
   height: 400px;
   width: 100%;
   
 
}

.card-1 {
    
        margin-top: 2rem;
        background: #f3f3f3;      
        
    
}

.card-1 a {
    margin-bottom: 0rem;
}

.card-1 div {
    padding: 2rem;
    
}

/* Contact Form */

#contact input {
    display: block;
}

#contact {
    height: 60vh;
    background: url(../img/10.jfif) center center/cover no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
}

#contact .contact-container {
    display: flex;
    height: 100%;
    color: #fff;
    max-width: 700px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    
    flex-direction: column;

}

#contact .form-container {
  display: flex;
  

}

#contact .form-content-left {
    flex: 1;
 
    
}
#contact .form-content-left input {
    width: 90%;
    flex: 1;
    padding: 0.6rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: none;
    
}
#contact .form-content-right textarea {
    width: 90%;  
    
}

#contact .form-content-right {
    flex: 1;  
    
}


#contact .form-content input {
    padding: 0.5rem;
}

#contact .form-content-right {
    text-align: left;    
}

#contact h2 {
    padding: 1rem;
    overflow: hidden;
}


/* Use It Free Section */

#use-free {    
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#use-free div {
    max-width: 800px;
    line-height: 1.5;
    font-style: italic;
}


/* footer */

#footer-main {    
    width: 100%;
    background: #777;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    color: #f3f3f3;
    font-size: 0.8rem;

}


#footer-main p {
    margin: 0;
    padding: 2rem;
}

.easter-egg {
    color: #777;
}