:root {
    --primary-font: font-family: 'Lato', sans-serif;
    --max-width: 1400px;
    --color-dark: #333;
    --color-light: #777;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
}

html,
body {
    font-family: var(--primary-font);
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

img {
    width: 100%;
}

p {
    margin: 1rem 0;
}



/* Utility Classes */
.container {
    max-width: var(--max-width);
    margin: auto;
}

.current {
    background: var(--color-light);

}

.sticky-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.btn {
    text-decoration: none;
    border: none;
    color: #222;
    padding: 1rem 2rem;    
    display: inline-block;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}

.btn-green {
    background: rgba(6, 54, 27, 0.9);
    color: #f3f3f3;
}
.btn-green:hover {
    background: rgba(20, 100, 55, 0.9);
    
}
.btn-blue {
    background: rgba(10, 22, 61, 0.9);
    color: #f3f3f3;
}
.btn-blue:hover {
    background: rgba(39, 66, 156, 0.9);
    
}
.btn-red {
    background: rgba(71, 5, 5, 0.9);
    color: #f3f3f3;
}
.btn-red:hover {
    background: rgba(139, 21, 21, 0.9);    
}

.btn-light {
    background: rgb(216, 216, 216);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}
.btn-light:hover {
    background: #f3f3f3;

}






/* Navbar */


#navbar {
    background: var(--color-dark);
    

}

#navbar .container {
    margin: auto;

    
}

#navbar .container .main-navbar {
    
    padding: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#navbar .container .main-navbar a {
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0 1rem;
    color: #f3f3f3;
    border: 1px solid var(--color-light);
    transition: background 0.4s ease-in-out;
    text-align: center;
    

}

#navbar .container .main-navbar a:hover {
    background: var(--color-light);
}


/* Showcase */

#showcase {
    color: #fff;
    background: #333;
    padding: 2rem;
    position: relative;

}

#showcase:before {
    content: '';    
    background: url('../img/3.jpeg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;

    /* Parallax Scrolling */
    background-attachment: fixed;
    background-position-y: -150px;
    background-repeat: no-repeat;
    background-size: cover;
    }

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

#showcase .showcase-content {
    z-index: 2;
}




/* Grid Articles */

.card {
    margin-top: 5rem;
    background: #f3f3f3;
}

.card img {
    
    
    overflow: hidden;
}

.card div {
    padding: 2rem;
    text-align: center;
}

.card div h3,
.card div p {
    text-align: justify;;
}

.card div a {
    margin-top: 2rem;
}



#about .container .articles-container {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

}

/* Blog - Big Posts */
#blog-two .container .articles-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

}

#blog-two .articles-container .card:nth-child(2) p:nth-child(3) {
    padding-bottom: 0;
}

#blog-two .articles-container .card:nth-child(2) a {
    float: right;
    margin-bottom: 2rem;
    margin-top: 0.2rem;
}

/* Image-Break Section */


#image-break {
    margin: 2rem 0;
    color: #fff;
    background: #111;
    padding: 2rem;
    position: relative;
    

}

#image-break:before {
    content: '';    
    background: url('../img/8.jpeg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;

    /* Parallax Scrolling */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

#image-break .container-break {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    
}

#image-break .break-content {
    max-width: 800px;
    z-index: 2;
}


/* Bottom Grid */

#grid-bot .container .articles-container {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: auto;

}


/* Big Blogpost */

.card-big img {
    width: 100%;
    height: 400px;
    max-height: auto;
}


#big-blogpost img {
   object-fit: cover;
   height: 400px;
   width: 100%;
   
 
}

.card-1 {
    
        margin-top: 2rem;
        background: #f3f3f3;      
        
    
}

.card-1 a {
    margin-bottom: 0rem;
}

.card-1 div {
    padding: 2rem;
    
}

